/dist
/.phpunit.cache
/.cache
/bootstrap
/node_modules
/public/hot
/public/build
/public/storage
/public/almacen
/storage/indexes
/storage/app
/storage/framework
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/dist
rr
.rr.yaml
putty.cmd
/public/build
/public/build_old
/public/page-cache

# ignore.log files
*.log
