/dist
/.phpunit.cache
/.cache
/bootstrap
/node_modules
/node_modules_backup
/public/hot
/public/build
/public/build_backup
/public/storage
/public/almacen
/storage/indexes
/storage/app
/storage/framework
/storage/backups
/storage/install
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/dist
rr
.rr.yaml
putty.cmd
/public/build
/public/build_old
/public/page-cache

# ignore.log files
**/*.log
replace.txt
replace-*.txt
info.txt
test-results
**/*.sql
**/desktop.ini
auto-imports.d.ts
puzle.tseyor.org
components.d.ts
