/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/hot
/public/build
/public/storage
/public/almacen
/storage/indexes
/storage/app
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/dist
rr
.rr.yaml
putty.cmd