@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, night --prefersdark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #284f9d;
    --color-secondary: #cc5c2c;
    --color-info: #90cdf4;
    --color-base-100: "#fff";
    --color-base-200: "#F3FAFF";
    --color-base-300: "#d4e3ff";
    --color-base-400: "#c1d2f7";
}

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    --color-primary: #90cdf4;
    --color-secondary: #f6ad55;
    --color-info: #b0ddff;
    --color-neutral: oklch(13.602% 0.031 276.934);
    --color-base-100: "#1a202c";
    --color-base-200: "#2d3748";
    --color-base-300: "#4a5568";
    --color-base-400: "#718096";
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }


body {
    height: auto !important;
}

.page {
    min-height: 100vh !important;
    height: unset !important;
}



form [data-entity='user_role_permission'] .checkbox label,
form [bp-field-name='permissions'] label
{
    width: 200px;
}

form [data-entity='user_role_permission'] .checkbox,
form [bp-field-name='permissions'] .checkbox
{
    margin-bottom: 20px;
    border: none;
    user-select: none;
}


.container-tight {
    max-width: 42rem !important;
}


[data-bs-theme=dark] .bg-base-100 {
    @apply bg-gray-800;
}

[data-bs-theme=dark] .bg-base-200 {
    @apply bg-gray-700;
}

[data-bs-theme=dark] .bg-base-300 {
    @apply bg-gray-600;
}





[data-bs-theme=dark] .alert-danger {
    --tblr-alert-color: var(--tblr-danger);
}



.component-modal {
    z-index: 1032 !important;
}

.vue-component .pt-8,
.component-modal .pt-8 {
    padding-top: 1rem !important;
}


.tiptap-editor-wrapper.fullscreen {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
}


.tiptap-editor-wrapper
.tiptap-editor .ProseMirror {
    @apply max-h-[calc(100vh-250px)];
}

.tiptap-editor-wrapper.fullscreen
.tiptap-editor .ProseMirror{
    @apply max-h-[calc(100vh-80px)];
}

@media (min-width:992px) {
    .tiptap-editor-wrapper.fullscreen {
        left: 240px;
    }

    .md-editor-fullscreen {
        left: 240px !important
    }
}


h1 {
    @apply text-2xl mb-9 font-bold leading-tight;
}

h2 {
    @apply text-xl mb-7 font-semibold;
}

h3 {
    @apply text-lg mb-5 font-semibold;
}


.tiptap-editor > .ProseMirror ol {
    list-style-type: decimal;
    @apply list-decimal;
    padding-left: 1.5rem;
}

.dropzone {
    @apply bg-base-100;
}

.vue-dropzone {
    @apply bg-base-100;
}

.vue-dropzone:hover {
    @apply bg-base-200;
}

}

