@config "../../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: unset !important
}

.page {
    min-height: 100vh;
    min-height: 100dvh;
}



form [data-entity='user_role_permission'] .checkbox label,
form [bp-field-name='permissions'] label
{
    width: 200px;
}

form [data-entity='user_role_permission'] .checkbox,
form [bp-field-name='permissions'] .checkbox
{
    margin-bottom: 20px;
    border: none;
    user-select: none;
}


.container-tight {
    max-width: 42rem !important;
}


[data-bs-theme=dark] .bg-base-100 {
    @apply bg-gray-800;
}

[data-bs-theme=dark] .bg-base-200 {
    @apply bg-gray-700;
}

[data-bs-theme=dark] .bg-base-300 {
    @apply bg-gray-600;
}


[data-bs-theme=dark] .\!bg-base-100 {
    @apply !bg-gray-800;
}

[data-bs-theme=dark] .\!bg-base-200 {
    @apply !bg-gray-700;
}

[data-bs-theme=dark] .\!bg-base-300 {
    @apply !bg-gray-600;
}




[data-bs-theme=dark] .alert-danger {
    --tblr-alert-color: var(--tblr-danger);
}


/* por la regla anterior, hay que subir de nivel z el componente modal */
.component-modal {
    z-index: 1032 !important;
}





.tiptap-editor-wrapper.fullscreen {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
}


.tiptap-editor-wrapper
.tiptap-editor .ProseMirror {
    @apply max-h-[calc(100vh-250px)];
}

.tiptap-editor-wrapper.fullscreen
.tiptap-editor .ProseMirror{
    @apply max-h-[calc(100vh-80px)];
}

@media (min-width:992px) {
    .tiptap-editor-wrapper.fullscreen {
        left: 240px;
    }

    .md-editor-fullscreen {
        left: 240px !important
    }
}


h1 {
    @apply text-2xl mb-9 font-bold leading-tight;
}

h2 {
    @apply text-xl mb-7 font-semibold;
}

h3 {
    @apply text-lg mb-5 font-semibold;
}


.tiptap-editor > .ProseMirror ol {
    list-style-type: decimal;
    @apply list-decimal;
    padding-left: 1.5rem;
}

.dropzone {
    @apply bg-base-100;
}

.vue-dropzone {
    @apply !bg-base-100;
}

.vue-dropzone:hover {
    @apply !bg-base-200;
}
