body {
    height: unset !important
}

.page {
    min-height: 100vh;
}



form [data-entity='user_role_permission'] .checkbox label,
form [bp-field-name='permissions'] label
{
    width: 200px;
}

form [data-entity='user_role_permission'] .checkbox,
form [bp-field-name='permissions'] .checkbox
{
    margin-bottom: 20px;
    border: none;
    user-select: none;
}
