@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: unset !important
}

.page {
    min-height: 100vh;
    min-height: 100dvh;
}



form [data-entity='user_role_permission'] .checkbox label,
form [bp-field-name='permissions'] label
{
    width: 200px;
}

form [data-entity='user_role_permission'] .checkbox,
form [bp-field-name='permissions'] .checkbox
{
    margin-bottom: 20px;
    border: none;
    user-select: none;
}


.container-tight {
    max-width: 42rem !important;
}


[data-bs-theme=dark] .bg-base-100 {
    @apply bg-gray-800;
}

[data-bs-theme=dark] .bg-base-200 {
    @apply bg-gray-700;
}

[data-bs-theme=dark] .bg-base-300 {
    @apply bg-gray-600;
}


[data-bs-theme=dark] .\!bg-base-100 {
    @apply !bg-gray-800;
}

[data-bs-theme=dark] .\!bg-base-200 {
    @apply !bg-gray-700;
}

[data-bs-theme=dark] .\!bg-base-300 {
    @apply !bg-gray-600;
}




[data-bs-theme=dark] .alert-danger {
    --tblr-alert-color: var(--tblr-danger);
}


/* por la regla anterior, hay que subir de nivel z el componente modal */
.component-modal {
    z-index: 1032 !important;
}


.md-editor-fullscreen {
    left: 240px !important
}
