@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}


@layer base {
    h1 {
        @apply text-4xl mb-9 font-bold leading-tight;
    }

    h2 {
        @apply text-3xl mb-7 font-semibold;
    }

    h3 {
        @apply text-2xl mb-5 font-semibold;
    }

    p {
        @apply my-6 text-base;
    }

    ul {
        @apply list-disc pl-8;
    }

    p a {
        @apply text-blue-500 underline;
    }

    p a:hover {
        @apply text-blue-600;
    }

    code {
        @apply bg-base-200 p-1 font-mono text-sm;
    }

    pre {
        @apply bg-base-200 p-4 text-sm;
    }


    html {
        font-size: 14px;
    }

    @media (min-width: 360px) {
        html {
            font-size: 15px;
        }
    }

    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }

    @media (min-width: 1280px) {
        html {
            font-size: 17px;
        }
    }

    @media (min-width: 1920px) {
        html {
            font-size: 18px;
        }
    }




    blockquote {
        position: relative;
        font-style: italic;
        quotes: none !important;
        border-left: none !important;
    }

    blockquote>p:nth-child(1) {
        text-indent: 1rem;
    }

    blockquote:before {
        font-family: Arial, Helvetica, sans-serif;
        content: "\201C";
        /* comillas abiertas (hexadecimal) */
        position: absolute;
        font-size: 5em;
        line-height: 0.1em;
        top: .3em;
        left: -0.1em;
        color: #ccc;
    }

    blockquote p {
        margin: 0;
        padding: 0;
    }

    blockquote cite {
        display: block;
        margin-top: 1em;
        text-align: right;
        font-style: normal;
        color: #666;
    }


    a.footnote-backref {
        @apply no-underline;
    }

}





@layer components {


    /* Estilos para formularios */
    label {
        @apply block font-semibold mb-2;
    }

    input:not([type="image"],[type="radio"],[type="checkbox"],.search-input)
    {
        @apply block w-full px-4 py-2 leading-tight bg-base-100 border border-gray-400 rounded shadow appearance-none focus:outline-none;
    }

    select {
        @apply border-gray-400;
    }

    form .error {
        @apply text-red-500 text-sm ml-1 mt-1;
    }



}


@layer utilities {
    .shadow-outline {
        box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
        outline: none;
    }

}






html, body, #app, #app>div {
    height: 100%
}


main a.hover\:underline{
    position: relative;
}
main a.hover\:underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: .2rem;
    transition: .2s width ease;
    @apply bg-primary bg-opacity-30;
}


main a.hover\:underline:hover {
    text-decoration: none;
}

main a.hover\:underline:hover::after {
    width: 100%;
}


em.search-term {
    /*background: yellow;*/
    text-decoration: underline;
    @apply text-primary;
}


#global-search-input {
    @apply bg-transparent !border-none hover:!border-none active:!border-none focus:!border-none focus:!outline-none focus:!ring-0;
}

/*
main a.hover\:right-arrow {
    position: relative;
}

main a.hover\:right-arrow::after {
    content: "->";
    position: absolute;
    right: 1rem;
    top: 40%;
    opacity: 0;
    transition: all .3s ease;
}

main a.hover\:right-arrow:hover::after {
    opacity: 1;
    transform: translateX(1rem)
}
*/



#v3-img-preview-container-id .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}
