@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}


@layer base {
    h1 {
        @apply text-4xl mb-9 font-bold leading-tight ;
    }

    h2 {
        @apply text-3xl mb-7 font-semibold ;
    }

    h3 {
        @apply text-2xl mb-5 font-semibold ;
    }

    p {
        @apply my-6 text-base ;
    }

    ul {
        @apply list-disc pl-8 ;
    }

    p a{
        @apply text-blue-500 underline;
    }

    p a:hover {
        @apply text-blue-600;
    }

    code {
        @apply bg-gray-100 p-1 font-mono text-sm;
    }

    pre {
        @apply bg-gray-100 p-4 text-sm;
    }


    html {
        font-size: 15px;
    }

    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }

    @media (min-width: 1280px) {
        html {
            font-size: 17px;
        }
    }

    @media (min-width: 1920px) {
        html {
            font-size: 18px;
        }
    }

}





@layer components {


    /* Estilos para formularios */
    label {
        @apply block font-semibold  mb-2;
    }

    input {
        @apply block w-full px-4 py-2 leading-tight  bg-base-100 border border-gray-400 rounded shadow appearance-none focus:outline-none;
    }

    select {
        @apply border-gray-400;
    }

    form .error {
        @apply text-red-500 text-sm ml-1 mt-1;
    }



}


@layer utilities {
    .shadow-outline {
        box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
        outline: none;
    }

    .timeago {
        @apply text-sm;
    }

}








